<form target="/login" method="post" class="p-3">
    <div class="mb-2">
        <label for="username">Nutzername:</label>
        <input id="username" name="username" class="bg-gray-200 p-3 rounded block w-full" type="text" />
    </div>
    <div class="mb-2">
        <label for="password">Passwort:</label>
        <input id="password" name="password" class="bg-gray-200 p-3 rounded block w-full" type="password" />
    </div>
    <div class="text-right">
        <button type="submit" class="bg-green-200 rounded px-4 py-3">Login</button>
    </div>
</form>