<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${'Misterx - ' + currentPage}"></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.2.4/ol.css">
    <link rel="stylesheet" href="/style.css"/>

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://kit.fontawesome.com/2e37175346.js" crossorigin="anonymous"></script>
</head>

<body>
<nav th:replace="~{components/navigation :: navigation}"></nav>

<div id="view" th:insert="~{${view}}"></div>

</body>
</html>