<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${'Misterx - ' + currentPage}"></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.2.4/ol.css">
    <link rel="stylesheet" href="/style.css"/>

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://kit.fontawesome.com/2e37175346.js" crossorigin="anonymous"></script>
</head>

<body>

<nav class="bg-gray-100">
    <div class="p-4 pb-0 font-bold">
        Mister X Luckenwalde
    </div>
    <div class="flex items-end z-50 relative flex">
        <!-- Home -->
        <div th:if="${currentPage == 'Map'}" class="border-b-2 p-4 border-gray-500 flex gap-3 items-center">
            <i class="fa-solid fa-house"></i>
            <a class="font-bold" href="/">Karte</a>
        </div>
        <div th:unless="${currentPage == 'Map'}" class="border-b p-4 border-gray-300 flex gap-3 items-center text-gray-500">
            <i class="fa-solid fa-house"></i>
            <a href="/">Karte</a>
        </div>

        <!-- Book -->
        <div th:if="${currentPage == 'Team'}" class="border-b-2 p-4 border-gray-500 flex gap-3 items-center">
            <i class="fa-regular fa-calendar-plus"></i>
            <a class="font-bold" href="/team">Team</a>
        </div>
        <div th:unless="${currentPage == 'Team'}" class="border-b p-4 border-gray-300 flex gap-3 items-center text-gray-500">
            <i class="fa-regular fa-calendar-plus"></i>
            <a href="/team">Team</a>
        </div>

        <div class="flex-grow border-b border-gray-300"></div>
        <div></div>

        <a sec:authorize="!isAuthenticated()" href="/login" class="border-b border-gray-300 p-4 text-gray-500">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout" class="border-b border-gray-300 p-4 text-gray-500">Logout</a>
    </div>
</nav>

<div id="view" th:insert="~{${view}}"></div>

</body>
</html>